{% extends "base.html" %}

{% block content %}
<h1>Dynamodb</h1>
<div class="alert-info">本页的 api 属于底层接口，用于调试，需要登录。非必要别用。</div>
<h2>1. Quary dynamodb:</h2>
<ul>
  <li>Task_</li>
  <li>config_</li>
  <li>...</li>
</ul>

<form action="/db" method="post">
id: <input  name="quary_id"> <input type="submit" value="Quary">
</form>

{% if quary_res is defined %}
<p><b>Quary result</b>:</p>
<!-- quary_res [{id=xx,},] -->
  <table cellspacing="1" cellpadding="6" border="0"><tbody>
  <tr>
    {% for key in quary_res[0].keys() %}
    <th class="Title" align="center" width="60">{{ key }}</th>
    {% endfor %}
  </tr>
  {% for task in quary_res %}
  <tr>
    {% for _, v in task.items() %}
    <td class="Item" align="center">{{ v }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
  </tbody></table>
{% endif %}

<h2>2. Put item to dynamodb</h2>
<p>item: {"id":xxx, ...}</p>
<form action="/db" method="post">
item: <input name="put_item"> <input type="submit" value="Putitem">
</form>

<h2>3. Delete item</h2>
<form action="/db" method="post">
id= <input name="delete_id"> <input type="submit" value="Delete">
</form>

{% endblock %}
