<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="https://www.7-zip.org/style.css" rel="stylesheet" type="text/css">
<title>Task board</title>
<style type="text/css">
.alert {position: relative;padding: .75rem 1.25rem;margin-bottom: 1rem;border: 1px solid transparent;border-radius: .25rem}
.alert-success {color: #155724;background-color: #d4edda;border-color: #c3e6cb}
.alert-warning {color: #856404;background-color: #fff3cd;border-color: #ffeeba}
.alert-info {color: #0c5460; background-color: #d1ecf1; border-color: #bee5eb}
.alert-danger {color: #721c24;background-color: #f8d7da;border-color: #f5c6cb}
</style>
</head>
<body>
<table cellspacing="10" cellpadding="10" border="0" width="100%"><tbody><tr>
<td class="MenuColumn" valign="top">

<table cellpadding="2" cellspacing="0" border="0">
<tbody><tr><td><span class="MenuCurrent">Home</span></td></tr>
<tr><td><a href="/task" class="MenuLink">Task list</a></td></tr>
<tr><td><a href="/db" class="MenuLink">Quary db</a></td></tr>
<tr><td><a href="/static/release_note.html" class="MenuLink">Release note</a></td></tr>
</tbody></table>
<table cellpadding="2" cellspacing="0" border="0" width="100%">
<tbody><tr><td><hr></td></tr>
</tbody></table>

</td>
<td valign="top">
<table cellspacing="4" cellpadding="4"><tbody><tr>

<td>
{% if req.msg %}
<div class="alert alert-{{ req.msg.type }}">
📌 {{ req.msg.info }}
</div>
{% endif %}
{% block content %}{% endblock %}
</td>

<td valign="top" align="right" width="210">
<br>
<table class="News" cellpadding="3" cellspacing="1" border="0">
  <tbody><tr class="NewsHeader"><td class="NewsTitle" colspan="2">Release note</td></tr>
  <tr class="News">
    <td class="NewsText" colspan="2">
      {% if req.is_authed %}
      <a href="/auth/logout">Logout</a><br>
      {% else %}
      <a href="/auth/login">Login</a><br>
      {% endif %}
      <dev> </dev><br>
    </td>
  </tr>
</tbody></table>
</td>
</tr></tbody></table>

<hr>
<p><small>Copyright (C) 2022 <a href="https://blog.hiii.top">blog.hiii.top</a>.</small></p>
</td></tr></tbody></table>

</body></html>
