{% extends "base.html" %}

{% block content %}
<h1>Dynamodb</h1>

<h2>Quary dynamodb:</h2>
<ul>
  <li>Task_</li>
  <li>config_</li>
  <li>...</li>
</ul>

<form action="/db/quary" method="post">
id: <input  name="id"> <input type="submit" value="Quary">
</form>

{% if quary_res is defined %}
<p><b>Quary result</b>:</p>
<!-- quary_res [{id=xx,},] -->
  <table cellspacing="1" cellpadding="6" border="0"><tbody>
  <tr>
    {% for key in quary_res[0].keys() %}
    <th class="Title" align="center" width="60">{{ key }}</th>
    {% endfor %}
  </tr>
  {% for task in quary_res %}
  <tr>
    {% for _, v in task.items() %}
    <td class="Item" align="center">{{ v }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
  </tbody></table>
{% endif %}

<h2>Put item to dynamodb</h2>

<p>item: {"id":xxx, ...}</p>
<form action="/db/putitem" method="post">
item: <input name="item">
<input type="submit" value="Put">
</form>

{% if put_res is defined %}
<div class="alert-warning">
  <strong>Notice</strong>: {{ put_res }}
</div>
{% endif %}
{% endblock %}
