{% extends "base.html" %}

{% block content %}

<h3>Todo</h3>
<ul>
  <li>🚧 从task 类里面读取对应任务的config: conf_taskname</li>
  <li>优化 Task 查询性能 scan -> get_item</li>
  <li>db: 存储显示所有的 key</li>
  <li>移植 Task</li>
  <li>? 网站健康监控(http)继承 task 类</li>
</ul>

<h3>Release note</h3>

<table cellspacing="1" cellpadding="6" border="0"><tbody>
<tr><td class="Item">2022-12-5</td>
<td class="Item">网页增删改查 dynamodb</td></tr>
<tr><td class="Item">2022-11-27</td>
<td class="Item">可查询 task 状态，放弃适配 lambda+flask</td></tr>
</tbody></table>

{% endblock %}
