{% extends "base.html" %}

{% block content %}
<h1>Tasks</h1>
<p>task:  dict({'id':xx, 'result': xx, 'last_run_time': xx})</p>
<p><b>Task list</b>:</p>
<!-- tasks_list [{id=xx,},] -->
<table cellspacing="1" cellpadding="6" border="0"><tbody>
<tr>
  {% for key in tasks_list[0].keys() %}
  <th class="Title" align="center" width="60">{{ key }}</th>
  {% endfor %}
</tr>
{% for task in tasks_list %}
<tr>
  {% for _, v in task.items() %}
  <td class="Item" align="center">{{ v }}</td>
  {% endfor %}
</tr>
{% endfor %}
</tbody></table>
{% endblock %}
