{% extends "base.html" %}
{% block menu %}<tr><td><a href="/" class="MenuLink">首页</a><span>>任务详情</span></td></tr>
<tr><td><a href="/db" class="MenuLink">数据库</a></td></tr>
<tr><td><a href="/cmd" class="MenuLink">执行</a></td></tr>{% endblock %}
{% block content %}<h4>任务详情</h4>
<table cellspacing="1" cellpadding="6" border="0"><tbody>
<tr>{% for key in task.info_format.keys() %}
<th class="Title" align="center" width="60">{{ key }}</th>
{% endfor %}</tr>
<tr>{% for _, val in task.info_format.items() %}
<td class="Item" align="center">{{ val }}</td>
{% endfor %}</tr></tbody></table>
<hr>
<h4>任务说明</h4>
<p>{{ task.__doc__ }}</p>
{% if req.is_authed %}<h4>当前配置</h4>
<p>{{ task.conf }}</p>{% endif %}
<h4>配置修改</h4>
<p>{{ task.get_conf_list.__doc__ }}</p>
<p>推荐简单字符串或者**有效的json**</p>
<form action="/task/{{ task.info_format['name'] }}" method="post">
  <!-- 这套配置名称(用于多账号)，对你有意义的名称，会对外显示 -->
  {% for name in task.get_conf_list() %}{{name}}: <input name="{{ name }}"><br>{% endfor %}
  <input type="submit" value="执行">
</form>
<h4>定时任务周期设置</h4>

<br>{% endblock %}
