{% extends "base.html" %}
{% block menu %}
<tr><td><span class="MenuCurrent">首页</span></td></tr>
<tr><td><a href="/db" class="MenuLink">数据库</a></td></tr>
<tr><td><a href="/cmd" class="MenuLink">执行</a></td></tr>
{% endblock %}
{% block content %}
<p><b>任务列表</b>:</p>
<table cellspacing="1" cellpadding="6" border="0"><tbody>
<tr>{% for key in taskl_obj[0].format_seq %}
  <th class="Title" align="center" width="60">{{ key }}</th>
{% endfor %}</tr>
{% for task in taskl_obj %}
<tr>{% for key, val in task.info_format.items() %}{% if key == 'name' %}
    <td class="Item" align="center"><a href="/task/{{ val }}">{{ val }}</a></td>
    {% else %}<td class="Item" align="center">{{ val }}</td>
{% endif %}{% endfor %}</tr>
{% endfor %}
</tbody></table>
{% endblock %}
