<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="/static/style.css" rel="stylesheet" type="text/css">
<title>任务盒子</title>
<table cellspacing="10" cellpadding="10" border="0" width="100%"><tbody><tr>
<td class="MenuColumn" valign="top">
<div class="MenuCurrent">📦 任务盒子</div><hr>
<table cellpadding="2" cellspacing="0" border="0"><tbody>
{% block menu %}{% endblock %}
</tbody></table><hr>
{% if req.is_authed %}<a href="/auth/logout" class="MenuLink">退出登录</a>{% else %}
<a href="/auth/login" class="MenuLink">登录</a>{% endif %}
</td>
<td valign="top">
<table cellspacing="4" cellpadding="4"><tbody><tr>
<td>
{% if req.msg %}<div class="alert alert-{{ req.msg[0] }}">📌 {{ req.msg[1] }}</div>{% endif %}
{% block content %}{% endblock %}
</td></tr></tbody></table>
<hr>
<p><small>Powered by <a href="https://github.com/jneeee/taskbox">TaskBox</a> v2.0Beta 耗时: {{req.timecost}}ms.</small></p>
</td></tr></tbody></table></body></html>
