<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="https://cdn.staticfile.org/picocss/1.5.7/pico.min.css">
<link rel="stylesheet" href="https://cdn.staticfile.org/picocss/1.5.7/pico.classless.min.css">
<link rel="stylesheet" href="/static/style.css">
<title>任务盒子</title>
</head>
<body><main>
<nav>
    <ul>
        <li><strong><a href="/">任务盒子</a></strong></li>
    </ul>
    <ul>
        <li><a href="/">任务列表</a></li>
        <li><a href="/cmd">执行</a></li>
        <li><a href="/db">数据库</a></li>
    {% if req.is_authed %}
        <a href="/auth/logout" role="button">登出</a>{% else %}
        <a href="/auth/login" role="button">登录</a>
    {% endif %}
</ul></nav>
<br>
{% if req.msg %}<div class="alert alert-{{ req.msg[0] }}">📌 {{ req.msg[1] }}</div>{% endif %}
{% block content %}{% endblock %}
<hr><p><small>Powered by <a href="https://github.com/jneeee/taskbox">TaskBox</a> v2.2 耗时: {{req.timecost}}ms.</small></p>
</main>
</body></html>