{% extends "base.html" %}
{% block content %}
<h1>Dynamodb 数据库操作</h1>
<div class="alert alert-info">本页的 api 属于底层接口，用于调试，<b>需要登录</b>。非必要别用。</div>
<h4>1. 查询</h4>
<form action="/db" method="post">
<label>id: <input name="id"></label>
<label>name: <input name="name"></label>
<label>option: <select name="op_type">
  <option value="">--请选择--</option>
  <option value="1" selected>查询</option>
  <option value="2">删除</option>
</select></label>
<input type="submit" value="执行">
</form>
{% if quary_res is defined %}<p><b>查询结果</b>:</p>
  <table cellspacing="1" cellpadding="6" border="0">
<thead><tr>
  {% for key in quary_res[0].keys() %}
    <th width="60">{{ key }}</th>
  {% endfor %}</tr>
</thead>
  <tbody>
  {% for task in quary_res %}
    <tr>
      {% for _, v in task.items() %}<td>{{ v }}</td>{% endfor %}
    </tr>
  {% endfor %}</tbody></table>
{% endif %}
<h4>2. 添加数据</h4>
<p>item 数据格式: {"id": "xxx", "name":, "val":[], ...}</p>
<form action="/db?op_type=3" method="post">
  <input name="put_item"> <input type="submit" value="添加">
</form>
{% endblock %}