{% extends "base.html" %}{% block content %}
<h2>任务详情</h2>
<table cellspacing="1" cellpadding="6" border="0">
  <thead><tr>{% for key in task.info_format.keys() %}
    <th width="60">{{ key }}</th>
  {% endfor %}</tr>
  </thead>
  <tbody><tr>
  {% for _, val in task.info_format.items() %}
    <td>{{ val }}</td>
  {% endfor %}</tr></tbody></table>
<p><b>任务说明</b>：{{ task.__doc__ }}</p>
<div class="grid">
  <div>
  <article>
    {% if req.is_authed %}<b>当前配置</b><p>{{ task.conf }}</p>{% endif %}
    <details>
      <summary role="button" class="outline">日志</summary>
      <p>{% for key, info in task.log_inst.items() %}
          <i>{{info.get('Date')}}</i><a href="./log/{{ key }}">{{ key }}</a>
        {% endfor %}</p>
    </details>
  </article>
  <article>
    <h4>周期设置</h4>
    <form action="/task/{{ task.name }}" method="post">
      <input name="scheduler" placeholder="定时器表达式">
      <label for="delete">删除：<input type="checkbox" name="delete" value="1"> <i>勾选删除即删除定时器，后续加入多定时器支持。</i></label>
      <input type="submit" value="提交">
    </form>
    <details>
      <summary role="button">表达式规则说明</summary>
      <p>表达式的写法有三种：
        <ul>
          <li>rate(5minutes) 每五分钟执行一次，同理 rate(1 hours), rate(3 days)</li>
          <li>at(yyyy-mm-ddThh:mm:ss) 固定时间点执行一次</li>
          <li>cron(minutes hours day_of_month month day_of_week year) crontab 表达式。默认时区 Asia/Shanghai</li>
        </ul>
      </p>
    </details>
  </article></div>
  <article>
    <h4>配置添加/修改</h4>
    <p>{{ task.get_conf_list.__doc__ }}</p>
    <p>支持多账号设置。默认增加新配置，选择已有的名称就是修改配置。配置以 <code>{</code> 开头的有效json会被解析为字典。</p>
    <form action="/task/{{ task.name }}" method="post">
      <label for="taskbox_conf_name">
        配置名称: <input name="taskbox_conf_name" placeholder="账号1">
      </label>
      {% for name, desc in task.get_conf_list().items() %}<label for="{{name}}">
        {{name}}
        <input name="{{ name }}" placeholder="{{ desc }}">
      </label>{% endfor %}
      删除：<input type="checkbox" name="delete" value="1"> <i>勾选删除并输入已有的配置名称，就是删除配置</i> <br>
      <input type="submit" value="执行">
    </form>
  </article>
</div>
<!-- <h4>任务操作</h4> -->
{% endblock %}