{% extends "base.html" %}
{% block content %}
<figure><table role="grid"><tbody><tr>
  {% for key in taskl_obj[0].format_seq %}
    {% if key == '结果' %}<th width="120">{{ key }}</th>{% else %}
    <th width="60">{{ key }}</th>{% endif %}
  {% endfor %}</tr>
  {% for task in taskl_obj %}
    <tr>{% for key, val in task.info_format.items() %}{% if key == '名称' %}
        <td><a href="/task/{{ task.name }}">{{ val }}</a></td>
        {% else %}<td>{{ val }}</td>
    {% endif %}{% endfor %}</tr>
  {% endfor %}
</tbody></table></figure>
<i>图示说明：🟢正常，🟡缺少配置等，🔴暂停。<a href="https://jneeee.github.io/taskbox/taskmarket">任务市场</a></i>
{% endblock %}